<div>
  <div class="center">
    <div class="container">
      <h1 class="thin">Hi!</h1>
      <div class="text-left">
        <h5>Deine F&auml;cher:</h5>
        <div class="collection">
          <a *ngFor="let subject of subjects" class="modal-trigger black-text collection-item" href="#modal-subject">{{subject}}</a>
          <!--TODO:Fix-->
          <!--<a class="modal-trigger black-text collection-item" href="#modal-subject">Deutsch</a>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal-subject" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h3 class="thin">Mathe</h3>
      <table>
        <thead>
        <tr>
          <th>Datum</th>
          <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>25.02.2017</td>
          <td>5</td>
        </tr>
        <tr>
          <td>24.10.2017</td>
          <td>1</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Schlie&szlig;en</a>
    </div>
  </div>
</div>
