<ul>
	<li>
<!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal-Mathe">Mathe</a>

  <!-- Modal Structure -->
  <div id="modal-Mathe" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Mathenoten</h4>
      <p>später tabelle</p>
	  <h5>Bemerkungen</h5>
	  <label for="vname">Vorname: <input id="vname" name="vname"> </label>
	  <label for="nname">Nachname: <input id="nname" name="nname"> </label> 
	  <label for="klasse">Klasse: <input id="klasse" name="klasse"> </label> 
	  <textarea></textarea>
	   <input type="submit" value="senden">
	  
    </div>
    <div class="modal-footer">
     <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
	</li>
	<li><p></p></li>
    <li>      
<!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal-deutsch">Deutsch</a>

  <!-- Modal Structure -->
  <div id="modal-deutsch" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Deutschnoten</h4>
      <p>pgwhpqouhgpqohpoh</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
    </li>
</ul>	