<div>
  <div class="center container">
    <h1 class="thin">Admin | User&uuml;bersicht</h1>
    <div class="text-left">
      <h5>Admins:</h5>
      <table>
        <thead>
        <tr>
          <th>E-Mail</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>x@example.org</td>
          <td>Nougat</td>
        </tr>
        <tr>
          <td>b@example.org</td>
          <td>Jellybean</td>
        </tr>
        <tr>
          <td>c@example.org</td>
          <td>Lollipop</td>
        </tr>
        </tbody>
      </table>
      <h5>Lehrer:</h5>
      <table>
        <thead>
        <tr>
          <th>E-Mail</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>x@example.org</td>
          <td>Nougat</td>
        </tr>
        <tr>
          <td>b@example.org</td>
          <td>Jellybean</td>
        </tr>
        <tr>
          <td>c@example.org</td>
          <td>Lollipop</td>
        </tr>
        </tbody>
      </table>
      <h5>Sch&uuml;ler:</h5>
      <table>
        <thead>
        <tr>
          <th>E-Mail</th>
          <th>Name</th>
          <th>Klasse / Stufe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>x@example.org</td>
          <td>Nougat</td>
          <td>6b</td>
        </tr>
        <tr>
          <td>b@example.org</td>
          <td>Jellybean</td>
          <td>9d</td>
        </tr>
        <tr>
          <td>c@example.org</td>
          <td>Lollipop</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
