<nav class="blue-grey darken-3">
  <div class="nav-wrapper">
    <a class="brand-logo" routerLink="start">getGrades();</a>
      <!--<li><a class="waves-effect waves-light btn">Logout</a></li>-->
			<ul id="nav-student" class="right hide-on-med-and-down">
			<li><a routerLink="student/statistics">Statistiken</a></li>
			<li><a routerLink="student">Noten</a></li>
			</ul>
	  <ul id="nav-teacher" class="right hide-on-med-and-down">
      <li><a routerLink="teacher/statistics">Statistiken</a></li>
      <li><a routerLink="teacher">Noten</a></li>
			</ul>
	  <ul id="nav-admin" class="right hide-on-med-and-down">
      <li><a routerLink="student/statistics">Statistiken</a></li>
      <li><a routerLink="student">Noten</a></li>
    </ul>
  </div>
</nav>

