
<div class="input-field col s12">
    <select id="Klasse">
      <option value="" disabled selected>Klasse</option>
      <option value="1">5</option>
      <option value="2">6</option>
      <option value="3">7</option>
	  <option value="1">8</option>
      <option value="2">9</option>
      <option value="3">10</option>
	  <option value="1">11</option>
      <option value="2">12</option>
      <option value="3">13</option>
    </select>
    
  </div>

  <div class="input-field col s12">
    <select id="faecher">
      <option value="" disabled selected>Fach</option>
      <option value="1">Deutsch</option>
      <option value="2">Mathe</option>
    </select>
  
  </div>
<button (click)="myFunction()">Eingabe</button>
  <!--<table>
  <tr> <th>Berlin</th> <th>Hamburg</th> <th>München</th> </tr> 
  <tr> <td>Miljöh</td> <td>Kiez</td> <td>Bierdampf</td> </tr>
  <tr> <td>Buletten</td> <td>Frikadellen</td> <td>Fleischpflanzerl</td> </tr> </table>  -->
